.background
{
	background-image : url("../icons/orbit/background.png");
	background-repeat : no-repeat;
	left : -9px;
	top : -4px;
	width : auto;
	height : 778px;
}
.CIRCLE_GEN_121
{

	position : absolute ;
	left : 589px;
	top : 397px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_125
{

	position : absolute ;
	left : 624px;
	top : 508px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_122
{

	position : absolute ;
	left : 545px;
	top : 415px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_117
{

	position : absolute ;
	left : 804px;
	top : 326px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_113
{

	position : absolute ;
	left : 697px;
	top : 366px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_111
{

	position : absolute ;
	left : 759px;
	top : 309px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_116
{

	position : absolute ;
	left : 822px;
	top : 368px;
	width : 30px;
	height : 30px;
}
.rayon_11
{
	background-image : url("../icons/orbit/rayon_11.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 705px;
	top : 318px;
	width : 126px;
	height : 123px;
}
.CIRCLE_GEN_115
{

	position : absolute ;
	left : 795px;
	top : 419px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_112
{

	position : absolute ;
	left : 715px;
	top : 326px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_114
{

	position : absolute ;
	left : 722px;
	top : 418px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_123
{

	position : absolute ;
	left : 527px;
	top : 454px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_124
{

	position : absolute ;
	left : 552px;
	top : 507px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_127
{

	position : absolute ;
	left : 634px;
	top : 415px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_126
{

	position : absolute ;
	left : 652px;
	top : 456px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_132
{

	position : absolute ;
	left : 518px;
	top : 581px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_131
{

	position : absolute ;
	left : 562px;
	top : 563px;
	width : 30px;
	height : 30px;
}
.rayon_12
{
	background-image : url("../icons/orbit/rayon_12.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 535px;
	top : 404px;
	width : 126px;
	height : 124px;
}
.CIRCLE_GEN_137
{

	position : absolute ;
	left : 607px;
	top : 581px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_133
{

	position : absolute ;
	left : 499px;
	top : 620px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_136
{

	position : absolute ;
	left : 625px;
	top : 622px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_135
{

	position : absolute ;
	left : 597px;
	top : 674px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_141
{

	position : absolute ;
	left : 675px;
	top : 691px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_142
{

	position : absolute ;
	left : 631px;
	top : 708px;
	width : 30px;
	height : 30px;
}
.rayon_13
{
	background-image : url("../icons/orbit/rayon_13.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 507px;
	top : 570px;
	width : 127px;
	height : 124px;
}
.CIRCLE_GEN_134
{

	position : absolute ;
	left : 525px;
	top : 673px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_146
{

	position : absolute ;
	left : 738px;
	top : 750px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_147
{

	position : absolute ;
	left : 720px;
	top : 708px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_145
{

	position : absolute ;
	left : 710px;
	top : 801px;
	width : 30px;
	height : 30px;
}
.rayon_14
{
	background-image : url("../icons/orbit/rayon_14.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 621px;
	top : 700px;
	width : 126px;
	height : 123px;
}
.CIRCLE_GEN_151
{

	position : absolute ;
	left : 863px;
	top : 681px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_144
{

	position : absolute ;
	left : 638px;
	top : 800px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_143
{

	position : absolute ;
	left : 613px;
	top : 748px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_155
{

	position : absolute ;
	left : 898px;
	top : 792px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_156
{

	position : absolute ;
	left : 926px;
	top : 740px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_152
{

	position : absolute ;
	left : 819px;
	top : 699px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_154
{

	position : absolute ;
	left : 825px;
	top : 791px;
	width : 30px;
	height : 30px;
}
.rayon_15
{
	background-image : url("../icons/orbit/rayon_15.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 809px;
	top : 693px;
	width : 127px;
	height : 124px;
}
.CIRCLE_GEN_153
{

	position : absolute ;
	left : 800px;
	top : 738px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_157
{

	position : absolute ;
	left : 908px;
	top : 699px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_165
{

	position : absolute ;
	left : 992px;
	top : 667px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_162
{

	position : absolute ;
	left : 912px;
	top : 574px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_161
{

	position : absolute ;
	left : 957px;
	top : 556px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_163
{

	position : absolute ;
	left : 894px;
	top : 613px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_164
{

	position : absolute ;
	left : 919px;
	top : 666px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_167
{

	position : absolute ;
	left : 1002px;
	top : 574px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_166
{

	position : absolute ;
	left : 1019px;
	top : 615px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_172
{

	position : absolute ;
	left : 886px;
	top : 418px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_171
{

	position : absolute ;
	left : 931px;
	top : 400px;
	width : 30px;
	height : 30px;
}
.rayon_16
{
	background-image : url("../icons/orbit/rayon_16.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 900px;
	top : 564px;
	width : 127px;
	height : 123px;
}
.CIRCLE_GEN_177
{

	position : absolute ;
	left : 976px;
	top : 418px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_173
{

	position : absolute ;
	left : 868px;
	top : 457px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_176
{

	position : absolute ;
	left : 993px;
	top : 459px;
	width : 30px;
	height : 30px;
}
.CIRCLE_GEN_175
{

	position : absolute ;
	left : 966px;
	top : 511px;
	width : 30px;
	height : 30px;
}
.main_user
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 710px;
	top : 514px;
	width : auto;
	height : auto;
}
.gen_1
{
	position : absolute ;
	left : 752px;
	top : 358px;
	width : auto;
	height : auto;
}
.rayon_17
{
	background-image : url("../icons/orbit/rayon_17.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 875px;
	top : 412px;
	width : 127px;
	height : 124px;
}
.CIRCLE_GEN_174
{

	position : absolute ;
	left : 893px;
	top : 510px;
	width : 30px;
	height : 30px;
}
.gen_4
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 675px;
	top : 740px;
	width : 81px;
	height : 80px;
}
.gen_3
{

	background-repeat : no-repeat;
	position : absolute ;
	left : 557px;
	top : 615px;
	width : 81px;
	height : 79px;
}
.gen_2
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 580px;
	top : 450px;
	width : 79px;
	height : 79px;
}
.gen_5
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 860px;
	top : 730px;
	width : 81px;
	height : 80px;
}
.gen_7
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 925px;
	top : 455px;
	width : 81px;
	height : 79px;
}
.gen_6
{
	background-repeat : no-repeat;
	position : absolute ;
	left : 952px;
	top : 605px;
	width : 81px;
	height : 80px;
}
.main_rayon
{
	background-image : url("../icons/orbit/main_rayon.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 564px;
	top : 374px;
	width : 412px;
	height : 401px;
}

.LOGO
{
	background-image : url("../icons/orbit/LOGO.png");
	background-repeat : no-repeat;
	position : absolute ;
	left : 164px;
	top : 700px;
	width : 207px;
	height : 162px;
}